label.cs {
        background: #90C3D4;
        display: block;
        color: #fff;
        font-weight: bold;
        padding: 8px;
        margin: 4px;
}
input[name="control"].cs, .cs.slide {
        display: none;
}
input[name="control"]:checked.cs + label.cs {
        background: #6699FF;
}
input[name="control"]:checked.cs + label.cs + .cs.slide{
        display: block;
}
.cs .slide {
        padding: 8px;
}
